<%- model_class = ActivateAsset -%>
<div class="page-header">
  <h1>资产盘活</h1>
  <div style="float:right">
    <% if can? :new, ActivateAsset %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_activate_asset_path,
                  :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<%= grid(@activate_assets_grid) do |g|

    g.column name: model_class.human_attribute_name(:name), attribute: 'name'
  
    g.column name: model_class.human_attribute_name(:contact), attribute: 'contact'

    g.column name: model_class.human_attribute_name(:tel), attribute: 'tel'

    g.column name: model_class.human_attribute_name(:introduce), attribute: 'introduce' do |activate_asset|
      [activate_asset.introduce.try(:truncate, 25), {title: activate_asset.introduce}]
    end

    g.column name: model_class.human_attribute_name(:create_user_id), assoc: :create_user, attribute: 'name'

    g.column name: model_class.human_attribute_name(:create_unit_id), assoc: :create_unit, attribute: 'name'

    g.column name: model_class.human_attribute_name(:status), attribute: 'status',custom_filter: ActivateAsset::STATUS.invert do |activate_asset|
      activate_asset.status_name
    end

    g.column do |activate_asset|
      ActiveSupport::SafeBuffer.new << 
      # (link_to t('.edit', :default => t("helpers.links.edit")), edit_activate_asset_path(activate_asset), :class => 'btn btn-xs btn-primary' if (can? :update, activate_asset) and (activate_asset.is_valid and (activate_asset.create_user_id == current_user.id ))) << ' ' <<
      (link_to t('.destroy', :default => t("helpers.links.destroy")), activate_asset_path(activate_asset), :method => :delete, :data => { :confirm => t('wice_grid.saved_query_deletion_confirmation', :default => t("helpers.links.confirm", :default =>"确定删除?" )) }, :class => 'btn btn-xs btn-danger' if (can? :destroy, activate_asset) && (activate_asset.create_unit_id == current_user.unit_id ) && (activate_asset.status.eql?"valid")) << ' ' <<
      # (link_to t('.upload', :default => t("helpers.links.upload")), import_activate_asset_path(activate_asset),:class => 'btn btn-xs btn-primary' if (can? :import, activate_asset) and ((activate_asset.status.eql?"valid") and (activate_asset.create_unit_id == current_user.unit_id ))) << ' ' <<
      (link_to t('.download', :default => t("helpers.links.download")), download_activate_asset_path(activate_asset),:method => 'post', :class => 'btn btn-xs btn-primary' if (can? :download, activate_asset) && !activate_asset.import_file.blank?)<< ' ' <<
      (link_to '成交',
                done_activate_asset_path(activate_asset), :data => { :confirm => "确定成交?" }, :class => 'btn btn-xs btn-primary' if (can? :done, activate_asset) && (activate_asset.status.eql?"valid") && (activate_asset.create_unit_id == current_user.unit_id ))<< ' ' <<
      (link_to '详细内容', activate_asset_path(activate_asset), :class => 'btn btn-xs btn-primary' if can? :read, activate_asset)
    end
  end 
%>


