<h1>Listing fixed_asset_inventory_details</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fixed_asset_inventory_details.each do |fixed_asset_inventory_detail| %>
      <tr>
        <td><%= link_to 'Show', fixed_asset_inventory_detail %></td>
        <td><%= link_to 'Edit', edit_fixed_asset_inventory_detail_path(fixed_asset_inventory_detail) %></td>
        <td><%= link_to 'Destroy', fixed_asset_inventory_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fixed asset inventory detail', new_fixed_asset_inventory_detail_path %>
