<%- model_class = FixedAssetInfo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
  <%= form_tag('', name: 'form1') %>
  <div style="float:right">
    <% if can? :fixed_asset_info_import, FixedAssetInfo %>
      <%= link_to t('.import', :default => t("helpers.links.import")),
                  "/fixed_asset_infos/fixed_asset_info_import",
                  :class => 'btn btn-primary' %>
    <% end %>
    <button class="wg-external-csv-export-button" data-grid-name="fixed_asset_infos">导出</button>
  </div>
</div>  

<%= render partial: 'fixed_asset_infos_grid' %>





