<%- model_class = LowValueConsumptionInventory -%>
<div class="page-header">
  <h1>待处理低值易耗品盘点单</h1>
</div>

<%= grid(@low_value_consumption_inventories_grid) do |g|
    g.column name: '盘点单号', attribute: 'no'

    g.column name: model_class.human_attribute_name(:name), attribute: 'name'

    g.column name: model_class.human_attribute_name(:status), attribute: 'status',custom_filter: LowValueConsumptionInventory::STATUS.map {|k, v| [model_class.human_attribute_name("status_#{k}"), v]} do |low_value_consumption_inventory| 
      low_value_consumption_inventory.status_name
    end

    g.column name: model_class.human_attribute_name(:create_user_id), assoc: :create_user, attribute: 'name'

    g.column name: model_class.human_attribute_name(:create_unit_id), assoc: :create_unit, attribute: 'name'

    g.column name: model_class.human_attribute_name(:start_time), attribute: 'start_time' do |low_value_consumption_inventory|
      low_value_consumption_inventory.start_time.blank? ? "" : DateTime.parse(low_value_consumption_inventory.start_time.to_s).strftime('%Y-%m-%d %H:%M:%S').to_s
    end

    g.column name: model_class.human_attribute_name(:end_time), attribute: 'end_time' do |low_value_consumption_inventory|
      low_value_consumption_inventory.end_time.blank? ? "" : DateTime.parse(low_value_consumption_inventory.end_time.to_s).strftime('%Y-%m-%d %H:%M:%S').to_s
    end

    g.column name: "资产总数" do |low_value_consumption_inventory|
      if current_user.unit.unit_level == 2 
        low_value_consumption_inventory.low_value_consumption_inventory_details.where(manage_unit_id: current_user.unit_id).size
      elsif current_user.unit.unit_level == 3
        child_ids = Unit.where(parent_id: current_user.unit_id).select(:id)
        low_value_consumption_inventory.low_value_consumption_inventory_details.where("lvc_inventory_details.use_unit_id = ? or lvc_inventory_details.use_unit_id in (?)", current_user.unit_id, child_ids).size
      end          
    end

    g.column name: "待扫描数" do |low_value_consumption_inventory| 
      if current_user.unit.unit_level == 2 
        low_value_consumption_inventory.low_value_consumption_inventory_details.where(manage_unit_id: current_user.unit_id, inventory_status: "waiting").size
      elsif current_user.unit.unit_level == 3
        child_ids = Unit.where(parent_id: current_user.unit_id).select(:id)
        low_value_consumption_inventory.low_value_consumption_inventory_details.where("(lvc_inventory_details.use_unit_id = ? or lvc_inventory_details.use_unit_id in (?)) and lvc_inventory_details.inventory_status = ?", current_user.unit_id, child_ids, "waiting").size
      end 
    end

    g.column name: "匹配数" do |low_value_consumption_inventory| 
      if current_user.unit.unit_level == 2 
        low_value_consumption_inventory.low_value_consumption_inventory_details.where(manage_unit_id: current_user.unit_id, inventory_status: "match").size
      elsif current_user.unit.unit_level == 3
        child_ids = Unit.where(parent_id: current_user.unit_id).select(:id)
        low_value_consumption_inventory.low_value_consumption_inventory_details.where("(lvc_inventory_details.use_unit_id = ? or lvc_inventory_details.use_unit_id in (?)) and lvc_inventory_details.inventory_status = ?", current_user.unit_id, child_ids, "match").size
      end 
    end

    g.column name: "不匹配数" do |low_value_consumption_inventory| 
      if current_user.unit.unit_level == 2 
        low_value_consumption_inventory.low_value_consumption_inventory_details.where(manage_unit_id: current_user.unit_id, inventory_status: "unmatch").size
      elsif current_user.unit.unit_level == 3
        child_ids = Unit.where(parent_id: current_user.unit_id).select(:id)
        low_value_consumption_inventory.low_value_consumption_inventory_details.where("(lvc_inventory_details.use_unit_id = ? or lvc_inventory_details.use_unit_id in (?)) and lvc_inventory_details.inventory_status = ?", current_user.unit_id, child_ids, "unmatch").size
      end 
    end

    g.column name: "未扫描数" do |low_value_consumption_inventory| 
      if current_user.unit.unit_level == 2 
        low_value_consumption_inventory.low_value_consumption_inventory_details.where(manage_unit_id: current_user.unit_id, inventory_status: "no_scan").size
      elsif current_user.unit.unit_level == 3
        child_ids = Unit.where(parent_id: current_user.unit_id).select(:id)
        low_value_consumption_inventory.low_value_consumption_inventory_details.where("(lvc_inventory_details.use_unit_id = ? or lvc_inventory_details.use_unit_id in (?)) and lvc_inventory_details.inventory_status = ?", current_user.unit_id, child_ids, "no_scan").size
      end 
    end

    g.column do |low_value_consumption_inventory|
      done_alert = "确定完成？" 
      waiting_amount = low_value_consumption_inventory.low_value_consumption_inventory_details.where(inventory_status: "waiting", manage_unit_id: current_user.unit_id).size
      if waiting_amount > 0
        done_alert = "还有#{waiting_amount}件资产待扫描，点击完成后所有待扫描资产的盘点状态将变为未扫描，且无法修改，确定完成？"
      end

      ActiveSupport::SafeBuffer.new << 
      (link_to t('.sub_done', :default => t("helpers.links.sub_done")), "/low_value_consumption_inventories/" + low_value_consumption_inventory.id.to_s + "/sub_done", :data => { :confirm => "#{done_alert}" }, :class => 'btn btn-xs btn-primary' if (can? :sub_done, low_value_consumption_inventory) and (low_value_consumption_inventory.status.eql?"doing") and current_user.unit.unit_level == 2 and (low_value_consumption_inventory.low_value_consumption_inventory_units.find_by(unit_id: current_user.unit_id).status.eql?"unfinished") )<< ' ' <<
      (link_to '盘点单明细',
                doing_index_low_value_consumption_inventory_low_value_consumption_inventory_details_path(low_value_consumption_inventory), :class => 'btn btn-xs btn-primary' )
    end


    
  end 
%>