<%- model_class = LowValueConsumptionInventory -%>
<div class="page-header">
  <h1>二级单位创建低值易耗品盘点单</h1>
  <!-- <div style="float:right">
    <% if can? :new, LowValueConsumptionInventory %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_low_value_consumption_inventory_path,
                  :class => 'btn btn-primary' %>
    <% end %>
  </div> -->
</div>

<%= grid(@low_value_consumption_inventories_grid) do |g|
    g.column name: '盘点单号', attribute: 'no'

    g.column name: model_class.human_attribute_name(:name), attribute: 'name'

    g.column name: model_class.human_attribute_name(:status), attribute: 'status',custom_filter: LowValueConsumptionInventory::STATUS.map {|k, v| [model_class.human_attribute_name("status_#{k}"), v]} do |low_value_consumption_inventory| 
      low_value_consumption_inventory.status_name
    end

    g.column name: model_class.human_attribute_name(:create_user_id), assoc: :create_user, attribute: 'name'

    g.column name: model_class.human_attribute_name(:create_unit_id), assoc: :create_unit, attribute: 'name'

    g.column name: model_class.human_attribute_name(:start_time), attribute: 'start_time' do |low_value_consumption_inventory|
      low_value_consumption_inventory.start_time.blank? ? "" : DateTime.parse(low_value_consumption_inventory.start_time.to_s).strftime('%Y-%m-%d %H:%M:%S').to_s
    end

    g.column name: model_class.human_attribute_name(:end_time), attribute: 'end_time' do |low_value_consumption_inventory|
      low_value_consumption_inventory.end_time.blank? ? "" : DateTime.parse(low_value_consumption_inventory.end_time.to_s).strftime('%Y-%m-%d %H:%M:%S').to_s
    end

    g.column name: model_class.human_attribute_name(:is_lv2_unit), attribute: 'is_lv2_unit' do |low_value_consumption_inventory| 
      low_value_consumption_inventory.is_lv2_unit_name
    end

    g.column name: "资产总数" do |low_value_consumption_inventory| 
      low_value_consumption_inventory.low_value_consumption_inventory_details.size
    end

    g.column name: "待扫描数" do |low_value_consumption_inventory| 
      low_value_consumption_inventory.low_value_consumption_inventory_details.where(inventory_status: "waiting").size
    end

    g.column name: "匹配数" do |low_value_consumption_inventory| 
      low_value_consumption_inventory.low_value_consumption_inventory_details.where(inventory_status: "match").size
    end

    g.column name: "不匹配数" do |low_value_consumption_inventory| 
      low_value_consumption_inventory.low_value_consumption_inventory_details.where(inventory_status: "unmatch").size
    end

    g.column name: "未扫描数" do |low_value_consumption_inventory| 
      low_value_consumption_inventory.low_value_consumption_inventory_details.where(inventory_status: "no_scan").size
    end

    g.column do |low_value_consumption_inventory|
      done_alert = "确定完成？" 
      waiting_amount = low_value_consumption_inventory.low_value_consumption_inventory_details.where(inventory_status: "waiting").size
      if waiting_amount > 0
        done_alert = "还有#{waiting_amount}件资产待扫描，点击完成后所有待扫描资产的盘点状态将变为未扫描，且无法修改，确定完成？"
      end
      ActiveSupport::SafeBuffer.new << 
      (link_to t('.cancel', :default => t("helpers.links.cancel")), "/shpost_asset/low_value_consumption_inventories/" + low_value_consumption_inventory.id.to_s + "/cancel", :data => { :confirm => "确定取消?" }, :class => 'btn btn-xs btn-primary' if (can? :cancel, low_value_consumption_inventory) and (["waiting","doing"].include?low_value_consumption_inventory.status and low_value_consumption_inventory.create_user_id == current_user.id ))<< ' ' <<
      (link_to t('.done', :default => t("helpers.links.done")), "/shpost_asset/low_value_consumption_inventories/" + low_value_consumption_inventory.id.to_s + "/done", :data => { :confirm => "#{done_alert}" }, :class => 'btn btn-xs btn-primary' if (can? :done, low_value_consumption_inventory) and low_value_consumption_inventory.create_user_id == current_user.id and (low_value_consumption_inventory.status.eql?"doing") )<< ' ' <<
      (link_to '盘点单明细',
                low_value_consumption_inventory_low_value_consumption_inventory_details_path(low_value_consumption_inventory), :class => 'btn btn-xs btn-primary' )<< ' ' <<
      (link_to '盘点报表',
                to_report_low_value_consumption_inventory_path(low_value_consumption_inventory), :class => 'btn btn-xs btn-primary' )
    end


    
  end 
%>