<h1>Listing fixed_asset_inventory_units</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fixed_asset_inventory_units.each do |fixed_asset_inventory_unit| %>
      <tr>
        <td><%= link_to 'Show', fixed_asset_inventory_unit %></td>
        <td><%= link_to 'Edit', edit_fixed_asset_inventory_unit_path(fixed_asset_inventory_unit) %></td>
        <td><%= link_to 'Destroy', fixed_asset_inventory_unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fixed asset inventory unit', new_fixed_asset_inventory_unit_path %>
