<%- model_class = RentInventory -%>
<div class="page-header">
  <h1>创建抽样盘点单</h1>
  <div style="float:right">
    <% if can? :to_sample_inventory, RentInventory %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  to_sample_inventory_rent_inventories_path,
                  :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<%= render :partial => 'inventory_grid' %>