<h1>Editing low_value_consumption_inventory_unit</h1>

<%= render 'form' %>

<%= link_to 'Show', @low_value_consumption_inventory_unit %> |
<%= link_to 'Back', low_value_consumption_inventory_units_path %>
