<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_low_value_consumption_inventory_unit_path(@low_value_consumption_inventory_unit) %> |
<%= link_to 'Back', low_value_consumption_inventory_units_path %>
