<%- model_class = FixedAssetCatalog -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
<div style="float:right">
    <% if can? :fixed_asset_catalog_import, FixedAssetCatalog %>
      <%= link_to t('.import', :default => t("helpers.links.import")),
                  "/fixed_asset_catalogs/fixed_asset_catalog_import",
                  :class => 'btn btn-primary' %>
    <% end %>
     <% if can? :new, FixedAssetCatalog  %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                   new_fixed_asset_catalog_path(@fixed_asset_catalog),
                  :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<%= grid(@fixed_asset_catalogs, :show_filters => :always) do |g|
    g.column name: model_class.human_attribute_name(:code), attribute: 'code'

    g.column name: model_class.human_attribute_name(:name), attribute: 'name'

    g.column name: model_class.human_attribute_name(:measurement_unit), attribute: 'measurement_unit'

    g.column name: model_class.human_attribute_name(:years), attribute: 'years'

    g.column name: model_class.human_attribute_name(:desc), attribute: 'desc'
    g.column do |fixed_asset_catalog|
      ActiveSupport::SafeBuffer.new << 
      (link_to t('.edit', :default => t("helpers.links.edit")), edit_fixed_asset_catalog_path(fixed_asset_catalog), :class => 'btn btn-xs btn-primary' if (can? :update, fixed_asset_catalog))<< ' ' <<
      (link_to t('.destroy', :default => t("helpers.links.destroy")), fixed_asset_catalog_path(fixed_asset_catalog), :method => :delete, :data => { :confirm => t('wice_grid.saved_query_deletion_confirmation', :default => t("helpers.links.confirm", :default =>"确定删除?" )) }, :class => 'btn btn-xs btn-danger' if (can? :destroy, fixed_asset_catalog))
         
  end

    
  end 
%>


