<%- model_class = Purchase -%>
<div class="page-header">
  <% if @atype.eql?"lvc" %>
  <h1>已完成采购单</h1>
  <% else %>
  <h1>已完成其他固定资产</h1>
  <% end %>
</div>

<%= grid(@purchases_grid) do |g|
    g.after_row do |purchase, number_of_columns|
      content_tag(:tr, class: 'extra-row') do
        content_tag(:td, content_tag(:div, content_tag(:dl, class: "dl-horizontal") do
            # without buffer only the last tag will appear
            buffer = content_tag(:b,"变动记录")
            buffer += content_tag(:p, "#{purchase.change_log.blank? ? "" : purchase.change_log[0,purchase.change_log.length-1]}")
            raw buffer
                       
          end), colspan:11)
      end
    end

    g.column name: '单号', attribute: 'no'

    g.column name: model_class.human_attribute_name(:name), attribute: 'name'

    g.column name: model_class.human_attribute_name(:status), attribute: 'status',custom_filter: Purchase::STATUS.map {|k, v| [model_class.human_attribute_name("status_#{k}"), v]} do |purchase| 
      purchase.status_name

    end

    g.column name: model_class.human_attribute_name(:create_user_id), assoc: :create_user, attribute: 'name'

    g.column name: model_class.human_attribute_name(:to_check_user_id), assoc: :to_check_user, attribute: 'name', table_alias: 'to_check_users_purchases'

    g.column name: model_class.human_attribute_name(:checked_user_id), assoc: :checked_user, attribute: 'name', table_alias: 'checked_users_purchases'

    g.column name: model_class.human_attribute_name(:create_unit_id), assoc: :create_unit, attribute: 'name'

    g.column name: model_class.human_attribute_name(:manage_unit_id), assoc: :manage_unit, attribute: 'name', table_alias: 'manage_units_purchases'

    g.column name: model_class.human_attribute_name(:use_unit_id), assoc: :use_unit, attribute: 'name', table_alias: 'use_units_purchases'

    g.column name: model_class.human_attribute_name(:is_send), attribute: 'is_send' do |purchase|
      purchase.is_send_name
    end


    g.column name: model_class.human_attribute_name(:desc), attribute: 'desc'

    g.column do |purchase|
      ActiveSupport::SafeBuffer.new << 
      (link_to t('.low_value_consumption_infos', :default => t("helpers.links.low_value_consumption_infos")),
                purchase_low_value_consumption_infos_path(purchase), :class => 'btn btn-xs btn-primary' if (can? :read, LowValueConsumptionInfo and (@atype.eql?"lvc")))<< ' ' <<
      (link_to t('.rent_infos', :default => t("helpers.links.rent_infos")),
                purchase_rent_infos_path(purchase), :class => 'btn btn-xs btn-primary' if (can? :read, RentInfo) and (@atype.eql?"rent"))<< ' ' <<
      (link_to t('.print', :default => t("helpers.links.print")), "/shpost_asset/purchases/" + purchase.id.to_s + "/print", target: '_blank', :class => 'btn btn-xs btn-primary' if ((can? :print, LowValueConsumptionInfo)|| (can? :print, RentInfo)) && (purchase.status.eql?"done"))<< ' ' <<
      (link_to t('.print_certificate', :default => t("helpers.links.print_certificate")), "/shpost_asset/purchases/" + purchase.id.to_s + "/print_certificate", target: '_blank', :class => 'btn btn-xs btn-primary' if (can? :print_certificate, Purchase) && (purchase.atype.eql?"lvc") && (purchase.status.eql?"done"))<< ' ' <<
      (link_to t('.print_certificate', :default => t("helpers.links.print_certificate")), "/shpost_asset/purchases/" + purchase.id.to_s + "/rent_print_certificate", target: '_blank', :class => 'btn btn-xs btn-primary' if (can? :print_certificate, Purchase) && (purchase.atype.eql?"rent") && (purchase.status.eql?"done"))<< ' ' <<
      button_tag("变动记录", class: "btn btn-xs btn-primary")
    end


    
  end 
%>

<script language="javascript" type="text/javascript"> 


$(document).on("page:load ready", function(){
    $("button").click(function(){
        $(this).parents('tr').next('.extra-row').slideToggle("fast");
        return false;
    });
});

</script>