<%- model_class = Purchase -%>
<div class="page-header">
  <h1>待处理采购单</h1>
</div>

<%= grid(@purchases_grid) do |g|
    g.after_row do |purchase, number_of_columns|
      content_tag(:tr, class: 'extra-row') do
        content_tag(:td, content_tag(:div, content_tag(:dl, class: "dl-horizontal") do
            # without buffer only the last tag will appear
            buffer = content_tag(:b,"变动记录")
            buffer += content_tag(:p, "#{purchase.change_log.blank? ? "" : purchase.change_log[0,purchase.change_log.length-1]}")
            raw buffer
                       
          end), colspan:11)
      end
    end

    g.column name: '采购单号', attribute: 'no'

    g.column name: model_class.human_attribute_name(:name), attribute: 'name'

    g.column name: model_class.human_attribute_name(:status), attribute: 'status',custom_filter: Purchase::STATUS.map {|k, v| [model_class.human_attribute_name("status_#{k}"), v]} do |purchase| 
      purchase.status_name

    end

    g.column name: model_class.human_attribute_name(:create_user_id), assoc: :create_user, attribute: 'name'

    g.column name: model_class.human_attribute_name(:to_check_user_id), assoc: :to_check_user, attribute: 'name', table_alias: 'to_check_users_purchases'

    g.column name: model_class.human_attribute_name(:checked_user_id), assoc: :checked_user, attribute: 'name', table_alias: 'checked_users_purchases'

    g.column name: model_class.human_attribute_name(:create_unit_id), assoc: :create_unit, attribute: 'name'

    g.column name: model_class.human_attribute_name(:manage_unit_id), assoc: :manage_unit, attribute: 'name', table_alias: 'manage_units_purchases'

    g.column name: model_class.human_attribute_name(:use_unit_id), assoc: :use_unit, attribute: 'name', table_alias: 'use_units_purchases'

    g.column name: model_class.human_attribute_name(:is_send), attribute: 'is_send' do |purchase|
      purchase.is_send_name
    end

    g.column name: model_class.human_attribute_name(:desc), attribute: 'desc'

    g.column do |purchase|
      ActiveSupport::SafeBuffer.new << 
      (link_to t('.edit', :default => t("helpers.links.edit")), edit_purchase_path(purchase, atype: @atype, source: "to_do"), :class => 'btn btn-xs btn-primary' if (can? :update, purchase) and ((["waiting", "declined"].include?purchase.status and purchase.is_send and purchase.manage_unit_id == current_user.unit_id ) or (purchase.create_user_id == current_user.id and purchase.status.eql?"revoked") or (purchase.create_user_id == current_user.id and purchase.status.eql?"declined" and !purchase.is_send))) << ' ' <<
      (link_to t('.to_check', :default => t("helpers.links.to_check")), "/shpost_asset/purchases/" + purchase.id.to_s + "/to_check?atype=#{@atype}&source='to_do'", :data => { :confirm => "确定送审?" }, :class => 'btn btn-xs btn-primary' if (can? :to_check, purchase) and ((purchase.status.eql?"waiting" and purchase.is_send and purchase.manage_unit_id == current_user.unit_id) or (purchase.status.eql?"declined" and purchase.is_send and purchase.manage_unit_id == current_user.unit_id) or (purchase.status.eql?"declined" and !purchase.is_send and purchase.create_unit_id == current_user.unit_id) )) << ' ' <<
      (link_to t('.to_send', :default => t("helpers.links.to_send")), "/shpost_asset/purchases/" + purchase.id.to_s + "/to_send", :data => { :confirm => "确定下发?" }, :class => 'btn btn-xs btn-primary' if (can? :to_send, purchase) and (purchase.status.eql?"revoked" and (purchase.create_user_id == current_user.id or purchase.create_unit_id == current_user.unit_id) ) and (@atype.eql?"lvc")) << ' ' <<
      (link_to t('.revoke', :default => t("helpers.links.revoke")), "/shpost_asset/purchases/" + purchase.id.to_s + "/revoke", :data => { :confirm => "确定撤回?" }, :class => 'btn btn-xs btn-primary' if (can? :revoke, purchase) and (["waiting", "declined"].include?purchase.status and purchase.is_send and (purchase.create_user_id == current_user.id or purchase.create_unit_id == current_user.unit_id) ) and (@atype.eql?"lvc")) << ' ' <<
      (link_to t('.cancel', :default => t("helpers.links.cancel")), "/shpost_asset/purchases/" + purchase.id.to_s + "/cancel?atype=#{@atype}", :data => { :confirm => "确定取消?" }, :class => 'btn btn-xs btn-primary' if (can? :cancel, purchase) and (purchase.status.eql?"revoked" or (purchase.status.eql?"declined" and purchase.is_send and purchase.manage_unit_id == current_user.id) or (purchase.status.eql?"declined" and !purchase.is_send and purchase.create_user_id == current_user.id))) << ' ' <<
      (link_to t('.approve', :default => t("helpers.links.approve")), "/shpost_asset/purchases/" + purchase.id.to_s + "/approve?atype=#{@atype}", :data => { :confirm => "确定通过?" }, :class => 'btn btn-xs btn-primary' if (can? :approve, purchase))<< ' ' <<
      (link_to t('.decline', :default => t("helpers.links.decline")), "/shpost_asset/purchases/" + purchase.id.to_s + "/decline?atype=#{@atype}", :data => { :confirm => "确定拒绝?" }, :class => 'btn btn-xs btn-primary' if (can? :decline, purchase))<< ' ' <<
      (link_to t('.low_value_consumption_infos', :default => t("helpers.links.low_value_consumption_infos")),purchase_low_value_consumption_infos_path(purchase), :class => 'btn btn-xs btn-primary' if (can? :read, LowValueConsumptionInfo) and (@atype.eql?"lvc"))<< ' ' <<
      (link_to t('.rent_infos', :default => t("helpers.links.rent_infos")),
                purchase_rent_infos_path(purchase), :class => 'btn btn-xs btn-primary' if (can? :read, RentInfo) and (@atype.eql?"rent"))<< ' ' <<
      button_tag("变动记录", class: "btn btn-xs btn-primary")

    end
  end 
%>

<script language="javascript" type="text/javascript"> 


$(document).on("page:load ready", function(){
    $("button").click(function(){
        $(this).parents('tr').next('.extra-row').slideToggle("fast");
        return false;
    });
});

</script>