<%- model_class = FixedAssetInventory -%>
<div class="page-header">
  <h1>待处理固定资产盘点单</h1>
</div>

<%= grid(@fixed_asset_inventories_grid) do |g|
    g.column name: '盘点单号', attribute: 'no'

    g.column name: model_class.human_attribute_name(:name), attribute: 'name'

    g.column name: model_class.human_attribute_name(:status), attribute: 'status',custom_filter: FixedAssetInventory::STATUS.map {|k, v| [model_class.human_attribute_name("status_#{k}"), v]} do |fixed_asset_inventory| 
      fixed_asset_inventory.status_name
    end

    g.column name: model_class.human_attribute_name(:create_user_id), assoc: :create_user, attribute: 'name'

    g.column name: model_class.human_attribute_name(:create_unit_id), assoc: :create_unit, attribute: 'name'

    g.column name: model_class.human_attribute_name(:start_time), attribute: 'start_time' do |fixed_asset_inventory|
      fixed_asset_inventory.start_time.blank? ? "" : DateTime.parse(fixed_asset_inventory.start_time.to_s).strftime('%Y-%m-%d %H:%M:%S').to_s
    end

    g.column name: model_class.human_attribute_name(:end_time), attribute: 'end_time' do |fixed_asset_inventory|
      fixed_asset_inventory.end_time.blank? ? "" : DateTime.parse(fixed_asset_inventory.end_time.to_s).strftime('%Y-%m-%d %H:%M:%S').to_s
    end

    g.column do |fixed_asset_inventory|
      ActiveSupport::SafeBuffer.new << 
      (link_to t('.sub_done', :default => t("helpers.links.sub_done")), "/fixed_asset_inventories/" + fixed_asset_inventory.id.to_s + "/sub_done", :data => { :confirm => "确定完成?完成后未扫描资产的状态会变为未扫描." }, :class => 'btn btn-xs btn-primary' if (can? :sub_done, fixed_asset_inventory) and (fixed_asset_inventory.status.eql?"doing") and (fixed_asset_inventory.fixed_asset_inventory_units.find_by(unit_id: current_user.unit_id).status.eql?"unfinished") )<< ' ' <<
      (link_to '盘点单明细',
                doing_index_fixed_asset_inventory_fixed_asset_inventory_details_path(fixed_asset_inventory), :class => 'btn btn-xs btn-primary' )
    end


    
  end 
%>