<%- model_class = FixedAssetInventory -%>
<div class="page-header">
  <h1>待处理抽样盘点单</h1>
</div>

<%= grid(@fixed_asset_inventories_grid) do |g|
    g.column name: '盘点单号', attribute: 'no'

    g.column name: model_class.human_attribute_name(:name), attribute: 'name'

    g.column name: model_class.human_attribute_name(:status), attribute: 'status',custom_filter: FixedAssetInventory::STATUS.map {|k, v| [model_class.human_attribute_name("status_#{k}"), v]} do |fixed_asset_inventory| 
      fixed_asset_inventory.status_name
    end

    g.column name: model_class.human_attribute_name(:fixed_asset_catalog_id), attribute: 'name', assoc: :fixed_asset_catalog do |fixed_asset_inventory|
      fixed_asset_inventory.fixed_asset_catalog.try :name
    end

    g.column name: model_class.human_attribute_name(:sample_unit_id), assoc: :sample_unit, attribute: 'name'

    g.column name: model_class.human_attribute_name(:create_user_id), assoc: :create_user, attribute: 'name'

    g.column name: model_class.human_attribute_name(:create_unit_id), assoc: :create_unit, attribute: 'name'

    g.column name: model_class.human_attribute_name(:start_time), attribute: 'start_time' do |fixed_asset_inventory|
      fixed_asset_inventory.start_time.blank? ? "" : DateTime.parse(fixed_asset_inventory.start_time.to_s).strftime('%Y-%m-%d %H:%M:%S').to_s
    end

    g.column name: model_class.human_attribute_name(:end_time), attribute: 'end_time' do |fixed_asset_inventory|
      fixed_asset_inventory.end_time.blank? ? "" : DateTime.parse(fixed_asset_inventory.end_time.to_s).strftime('%Y-%m-%d %H:%M:%S').to_s
    end

    g.column name: "资产总数" do |fixed_asset_inventory| 
      if current_user.unit.unit_level == 2 
        fixed_asset_inventory.fixed_asset_inventory_details.where(manage_unit_id: current_user.unit_id).size
      elsif current_user.unit.unit_level == 3
        child_ids = Unit.where(parent_id: current_user.unit_id).select(:id)
        fixed_asset_inventory.fixed_asset_inventory_details.where("fixed_asset_inventory_details.unit_id = ? or fixed_asset_inventory_details.unit_id in (?)", current_user.unit_id, child_ids).size
      end     
    end

    g.column name: "待扫描数" do |fixed_asset_inventory| 
      if current_user.unit.unit_level == 2 
        fixed_asset_inventory.fixed_asset_inventory_details.where(manage_unit_id: current_user.unit_id, inventory_status: "waiting").size
      elsif current_user.unit.unit_level == 3
        child_ids = Unit.where(parent_id: current_user.unit_id).select(:id)
        fixed_asset_inventory.fixed_asset_inventory_details.where("(fixed_asset_inventory_details.unit_id = ? or fixed_asset_inventory_details.unit_id in (?)) and fixed_asset_inventory_details.inventory_status = ?", current_user.unit_id, child_ids, "waiting").size
      end 
    end

    g.column name: "匹配数" do |fixed_asset_inventory| 
      if current_user.unit.unit_level == 2 
        fixed_asset_inventory.fixed_asset_inventory_details.where(manage_unit_id: current_user.unit_id, inventory_status: "match").size
      elsif current_user.unit.unit_level == 3
        child_ids = Unit.where(parent_id: current_user.unit_id).select(:id)
        fixed_asset_inventory.fixed_asset_inventory_details.where("(fixed_asset_inventory_details.unit_id = ? or fixed_asset_inventory_details.unit_id in (?)) and fixed_asset_inventory_details.inventory_status = ?", current_user.unit_id, child_ids, "match").size
      end 
    end

    g.column name: "不匹配数" do |fixed_asset_inventory| 
      if current_user.unit.unit_level == 2 
        fixed_asset_inventory.fixed_asset_inventory_details.where(manage_unit_id: current_user.unit_id, inventory_status: "unmatch").size
      elsif current_user.unit.unit_level == 3
        child_ids = Unit.where(parent_id: current_user.unit_id).select(:id)
        fixed_asset_inventory.fixed_asset_inventory_details.where("(fixed_asset_inventory_details.unit_id = ? or fixed_asset_inventory_details.unit_id in (?)) and fixed_asset_inventory_details.inventory_status = ?", current_user.unit_id, child_ids, "unmatch").size
      end 
    end

    g.column name: "未扫描数" do |fixed_asset_inventory| 
      if current_user.unit.unit_level == 2 
        fixed_asset_inventory.fixed_asset_inventory_details.where(manage_unit_id: current_user.unit_id, inventory_status: "no_scan").size
      elsif current_user.unit.unit_level == 3
        child_ids = Unit.where(parent_id: current_user.unit_id).select(:id)
        fixed_asset_inventory.fixed_asset_inventory_details.where("(fixed_asset_inventory_details.unit_id = ? or fixed_asset_inventory_details.unit_id in (?)) and fixed_asset_inventory_details.inventory_status = ?", current_user.unit_id, child_ids, "no_scan").size
      end
    end

    g.column do |fixed_asset_inventory|
      done_alert = "确定完成？" 
      waiting_amount = fixed_asset_inventory.fixed_asset_inventory_details.where(inventory_status: "waiting", manage_unit_id: current_user.unit_id).size
      if waiting_amount > 0
        done_alert = "还有#{waiting_amount}件资产待扫描，点击完成后所有待扫描资产的盘点状态将变为未扫描，且无法修改，确定完成？"
      end
      ActiveSupport::SafeBuffer.new << 
      (link_to '盘点单明细',
                doing_index_fixed_asset_inventory_fixed_asset_inventory_details_path(fixed_asset_inventory), :class => 'btn btn-xs btn-primary' )<< ' ' <<
      (link_to '盘点报表',
                sample_report_fixed_asset_inventory_path(fixed_asset_inventory), :class => 'btn btn-xs btn-primary' )
    end


    
  end 
%>