<%- model_class = LvcDiscardDetail -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human%></h1>
  </div>

<%= render :partial => 'lvc_discard_lvc_discard_details_grid' %>

