<h1>Editing low_value_consumption_inventory_detail</h1>

<%= render 'form' %>

<%= link_to 'Show', @low_value_consumption_inventory_detail %> |
<%= link_to 'Back', low_value_consumption_inventory_details_path %>
