<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_low_value_consumption_inventory_detail_path(@low_value_consumption_inventory_detail) %> |
<%= link_to 'Back', low_value_consumption_inventory_details_path %>
